@media (max-width: 450px) {
  .page-container {
    width: 90%;
    margin-left: 5%;
  }

  .slogan {
    font-size: 1.6rem;
  }

  .app-description {
    font-size: 1rem;
  }

  .button {
    font-size: 1rem;
  }

  .link {
    font-size: 1rem;
  }

  .section-title {
    font-size: 1.4rem;
  }

  .title {
    font-size: 1.2rem
  }

  .text {
    font-size: 1rem
  }
}

