@media (max-width: px) {
  .page-container {
    width: 80%;
    margin-left: 10%;
  }

  .slogan {
    font-size: 2rem;
  }

  .app-description {
    font-size: 1.3rem;
  }

  .button {
    font-size: 1rem;
  }

  .link {
    font-size: 1.3rem;
  }

  .sopho-app {
    width: 100%;
  }

  .link-container {
    flex-direction: column;
  }

  // .feature-container {
  //   grid-template-areas:
  //   "desc"
  //   "img";
  // } 

  .feature-container,
  .feature-container-reversed {
    flex-direction: column;
    text-align: center;
  }

  .feature-img {
    max-width: 100%;
  }

  .feature-desc.column {
    width: 100%;
    max-width:none;
  }

  .footer-title {
    align-self: center;
    font-size: 1.4rem;
  }

  .title {
    font-size: 1.2rem
  }

  .text {
    font-size: 0.7rem
  }
}