@media (max-width: 768px) {
  .slogan {
    font-size: 2rem;
  }

  .app-description {
    font-size: 1.3rem;
  }

  .button {
    font-size: 1rem;
  }

  .link {
    font-size: 1.3rem;
  }

  .screenshot {
    width: 100%;
  }

  .link-container {
    flex-direction: column;
  }

  .feature-container {
    grid-template-areas:
    "desc"
    "img";
  } 

  .feature-container-reversed {
    grid-template-areas:
    "desc"
    "img";
  } 

  .feature-title {
    font-size: 1.8rem
  }

  .feature-description {
    font-size: 1.3rem
  }
}