.main{
  background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
}

.header {
  background: #0000001a;
  color: var(--color-text);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}

.page-container {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.slogan {
  font-size: 3rem;
  color: var(--color-text);
  font-weight: 600;
  margin-bottom: 1rem;
  align-self: center;
}

.app-description {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
  align-self: center;
}

.sopho-app {
  width: 80%;
  align-self: center;
  margin-bottom: 5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px; 
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  font-size: 1em;
  border-radius: 20px; 
  background-color: $primary;
  color: var(--color-text);
}

.link {
  color: var(--color-text);
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0.5rem;
}

.feature-container,
.feature-container-reversed {
  background-color: #3D3F6E;
  color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.feature-container-reversed {
  flex-direction: row-reverse;
}

.feature-img {
  width:45%;
  max-width: 900px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px; 
  flex: 1 0 50%;
  height: auto;
  margin: 10px;
}

.feature-desc.column {
  flex: 1 0 50%;
  max-width: 400px;
  padding: 15px;
  margin: 10px;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.text {
  font-size: 0.7rem;
  margin-bottom: 0.8rem;
}

.title-questions{
  color: #C0C0C0;
  font-size: 0.7rem;
}

.answer-text {
  color: #C0C0C0;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.footer-title{
  color: #C0C0C0;
  font-size: 1.2rem;
  font-weight: 500;
  align-self: center;
}

.section-title{
  font-size: 1.2rem;
  font-weight: 500;
}
